Solucion_Sensorizacion_BLEMesh/Node-RED/TFM_PanelDeControl.json
[{"id":"f61dd1e4.ab054","type":"tab","label":"TFM - Dashboard","disabled":false,"info":""},{"id":"8800a6bd.1f262","type":"comment","z":"f61dd1e4.ab054","name":"Temperaturas en interior","info":"","x":170,"y":340,"wires":[]},{"id":"80d03d00.c5aaa8","type":"mqtt in","z":"f61dd1e4.ab054","name":"","topic":"/temperatura/interior/#","qos":"2","datatype":"auto","broker":"893b28db.760cb8","x":160,"y":500,"wires":[["9ca94421.dba578"]]},{"id":"9ca94421.dba578","type":"switch","z":"f61dd1e4.ab054","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"nodo1","vt":"str"},{"t":"cont","v":"nodo2","vt":"str"},{"t":"cont","v":"nodo3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":500,"wires":[["7e586433.dd9184","9a1bd65a.3031e8","be8d1110.20f928"],["6ee3d63f.66cc18","9a1bd65a.3031e8","be8d1110.20f928"],["d4822330.7cb0d","9a1bd65a.3031e8","be8d1110.20f928"]]},{"id":"9a1bd65a.3031e8","type":"function","z":"f61dd1e4.ab054","name":"Convert To Float","func":"var value = parseFloat(msg.payload)\n\nmsg.payload = {};\nmsg.payload.timeStamp = new Date();\nmsg.payload.temperature = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":440,"wires":[["d47321d.0fefee","efa5c44c.bfee78"]]},{"id":"d47321d.0fefee","type":"debug","z":"f61dd1e4.ab054","name":"Temperatura en ºC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":440,"wires":[]},{"id":"684cdd6d.fa258c","type":"debug","z":"f61dd1e4.ab054","name":"Nuevo Nodo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":240,"wires":[]},{"id":"678dc884.332ce","type":"mqtt in","z":"f61dd1e4.ab054","name":"","topic":"/aprovisionado/nodo","qos":"2","datatype":"auto","broker":"893b28db.760cb8","x":150,"y":180,"wires":[["353717f5.13777"]]},{"id":"353717f5.13777","type":"split","z":"f61dd1e4.ab054","name":"","splt":"+","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":180,"wires":[["684cdd6d.fa258c","be83429b.c89758","269e7356.025d74"]]},{"id":"d2f3761.9c23d08","type":"comment","z":"f61dd1e4.ab054","name":"Nodos aprovisionados","info":"","x":160,"y":100,"wires":[]},{"id":"be83429b.c89758","type":"switch","z":"f61dd1e4.ab054","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":":","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":180,"wires":[["29615f89.ccf048"],["241561.c6c3daa"]]},{"id":"7e586433.dd9184","type":"ui_gauge","z":"f61dd1e4.ab054","name":"Temperatura Interior (nodo 1)","group":"7c65ff98.d9a2f8","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatura Interior","label":"ºC","format":"{{value}}","min":"0","max":"40","colors":["#00a5f4","#1cb21c","#ec4214"],"seg1":"20","seg2":"26","x":800,"y":500,"wires":[]},{"id":"6ee3d63f.66cc18","type":"ui_gauge","z":"f61dd1e4.ab054","name":"Temperatura Interior (nodo 2)","group":"a4668fad.60f98","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatura Interior","label":"ºC","format":"{{value}}","min":"0","max":"40","colors":["#00a5f4","#1cb21c","#ec4214"],"seg1":"20","seg2":"26","x":800,"y":540,"wires":[]},{"id":"d4822330.7cb0d","type":"ui_gauge","z":"f61dd1e4.ab054","name":"Temperatura Interior (nodo 3)","group":"7fe41b6e.35841c","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatura Interior","label":"ºC","format":"{{value}}","min":"0","max":"40","colors":["#00a5f4","#1cb21c","#ec4214"],"seg1":"20","seg2":"26","x":800,"y":580,"wires":[]},{"id":"8402a683.9edb58","type":"comment","z":"f61dd1e4.ab054","name":"Temperaturas en exterior","info":"","x":170,"y":660,"wires":[]},{"id":"16e0a478.019bc4","type":"mqtt in","z":"f61dd1e4.ab054","name":"","topic":"/temperatura/exterior/#","qos":"2","datatype":"auto","broker":"893b28db.760cb8","x":160,"y":800,"wires":[["542bfddc.5690ec"]]},{"id":"542bfddc.5690ec","type":"switch","z":"f61dd1e4.ab054","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"nodo1","vt":"str"},{"t":"cont","v":"nodo2","vt":"str"},{"t":"cont","v":"nodo3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":800,"wires":[["7b3fc8ec.7c3018","a11f5c8a.b83678","f15b74bb.119bf"],["355199fa.b98ee6","a11f5c8a.b83678","f15b74bb.119bf"],["62e1f099.479598","a11f5c8a.b83678","f15b74bb.119bf"]]},{"id":"7b3fc8ec.7c3018","type":"ui_gauge","z":"f61dd1e4.ab054","name":"Temperatura Exterior (nodo 1)","group":"7c65ff98.d9a2f8","order":7,"width":0,"height":0,"gtype":"gage","title":"Temperatura Exterior","label":"ºC","format":"{{value}}","min":"0","max":"40","colors":["#00a5f4","#1cb21c","#ec4214"],"seg1":"18","seg2":"30","x":810,"y":820,"wires":[]},{"id":"355199fa.b98ee6","type":"ui_gauge","z":"f61dd1e4.ab054","name":"Temperatura Exterior (nodo 2)","group":"a4668fad.60f98","order":7,"width":0,"height":0,"gtype":"gage","title":"Temperatura Exterior","label":"ºC","format":"{{value}}","min":"0","max":"40","colors":["#00a5f4","#1cb21c","#ec4214"],"seg1":"18","seg2":"30","x":810,"y":860,"wires":[]},{"id":"62e1f099.479598","type":"ui_gauge","z":"f61dd1e4.ab054","name":"Temperatura Exterior (nodo 3)","group":"7fe41b6e.35841c","order":7,"width":0,"height":0,"gtype":"gage","title":"Temperatura Exterior","label":"ºC","format":"{{value}}","min":"0","max":"40","colors":["#00a5f4","#1cb21c","#ec4214"],"seg1":"18","seg2":"30","x":810,"y":900,"wires":[]},{"id":"2ea27cc2.6958cc","type":"comment","z":"f61dd1e4.ab054","name":"Solicitud Temperaturas","info":"","x":160,"y":960,"wires":[]},{"id":"a11f5c8a.b83678","type":"function","z":"f61dd1e4.ab054","name":"Convert To Float","func":"var value = parseFloat(msg.payload)\n\nmsg.payload = {};\nmsg.payload.timeStamp = new Date();\nmsg.payload.temperature = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":760,"wires":[["519fedca.77a894","c9b08e2a.9ea77"]]},{"id":"519fedca.77a894","type":"debug","z":"f61dd1e4.ab054","name":"Temperatura en ºC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":760,"wires":[]},{"id":"85569f4.39630e","type":"ui_button","z":"f61dd1e4.ab054","name":"Solicitud Temp (nodo 1)","group":"7c65ff98.d9a2f8","order":5,"width":0,"height":0,"passthru":false,"label":"Solicitar Temperatura Interior","tooltip":"","color":"","bgcolor":"#785D66","icon":"touch_app","payload":"Node1","payloadType":"flow","topic":"","x":173,"y":1016,"wires":[["c1a3660a.08637"]]},{"id":"c1a3660a.08637","type":"mqtt out","z":"f61dd1e4.ab054","name":"","topic":"/solicitud/tempInt","qos":"2","retain":"","broker":"893b28db.760cb8","x":450,"y":1060,"wires":[]},{"id":"be6b1061.5632f","type":"ui_button","z":"f61dd1e4.ab054","name":"Solicitud Temp (nodo 2)","group":"a4668fad.60f98","order":5,"width":0,"height":0,"passthru":false,"label":" Solicitar Temperatura Interior","tooltip":"","color":"","bgcolor":"#785D66","icon":"touch_app","payload":"Node2","payloadType":"flow","topic":"","x":173,"y":1056,"wires":[["c1a3660a.08637"]]},{"id":"3378fa6.3377086","type":"ui_button","z":"f61dd1e4.ab054","name":"Solicitud Temp (nodo 3)","group":"7fe41b6e.35841c","order":5,"width":0,"height":0,"passthru":false,"label":" Solicitar Temperatura Interior","tooltip":"","color":"","bgcolor":"#785D66","icon":"touch_app","payload":"Node3","payloadType":"flow","topic":"","x":173,"y":1096,"wires":[["c1a3660a.08637"]]},{"id":"16b991bd.8e4bce","type":"ui_button","z":"f61dd1e4.ab054","name":"Solicitud Temp (nodo 1)","group":"7c65ff98.d9a2f8","order":9,"width":0,"height":0,"passthru":false,"label":" Solicitar Temperatura Exterior","tooltip":"","color":"","bgcolor":"#785D66","icon":"touch_app","payload":"Node1","payloadType":"flow","topic":"","x":173,"y":1156,"wires":[["f70ad36e.9a2bf"]]},{"id":"f70ad36e.9a2bf","type":"mqtt out","z":"f61dd1e4.ab054","name":"","topic":"/solicitud/tempExt","qos":"2","retain":"","broker":"893b28db.760cb8","x":453,"y":1196,"wires":[]},{"id":"1a43d44.a8780ac","type":"ui_button","z":"f61dd1e4.ab054","name":"Solicitud Temp (nodo 2)","group":"a4668fad.60f98","order":9,"width":0,"height":0,"passthru":false,"label":" Solicitar Temperatura Exterior","tooltip":"","color":"","bgcolor":"#785D66","icon":"touch_app","payload":"Node2","payloadType":"flow","topic":"","x":173,"y":1196,"wires":[["f70ad36e.9a2bf"]]},{"id":"62830a71.c37874","type":"ui_button","z":"f61dd1e4.ab054","name":"Solicitud Temp (nodo 3)","group":"7fe41b6e.35841c","order":9,"width":0,"height":0,"passthru":false,"label":" Solicitar Temperatura Exterior","tooltip":"","color":"","bgcolor":"#785D66","icon":"touch_app","payload":"Node3","payloadType":"flow","topic":"","x":173,"y":1236,"wires":[["f70ad36e.9a2bf"]]},{"id":"241561.c6c3daa","type":"switch","z":"f61dd1e4.ab054","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"1","vt":"str"},{"t":"cont","v":"2","vt":"str"},{"t":"cont","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":770,"y":220,"wires":[["633486c8.fb8c88"],["f367bc98.f5a5b8"],["366d2807.c79528"]]},{"id":"633486c8.fb8c88","type":"function","z":"f61dd1e4.ab054","name":"Node1","func":"flow.set(\"Node1\",msg.payload);\nflow.get(\"Node1\");\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":180,"wires":[["5b9980dd.4700a8"]]},{"id":"f367bc98.f5a5b8","type":"function","z":"f61dd1e4.ab054","name":"Node2","func":"flow.set(\"Node2\",msg.payload);\nflow.get(\"Node2\");\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":220,"wires":[["dffbf7dd.07366"]]},{"id":"366d2807.c79528","type":"function","z":"f61dd1e4.ab054","name":"Node3","func":"flow.set(\"Node3\",msg.payload);\nflow.get(\"Node3\");\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":260,"wires":[["c72bdd17.6f8e3"]]},{"id":"5b9980dd.4700a8","type":"ui_text","z":"f61dd1e4.ab054","group":"7c65ff98.d9a2f8","order":1,"width":0,"height":0,"name":"#Nodo","label":"Nodo aprovisionado número:","format":"{{msg.payload}}","layout":"row-center","x":1070,"y":180,"wires":[]},{"id":"29615f89.ccf048","type":"rbe","z":"f61dd1e4.ab054","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":770,"y":120,"wires":[["1e71aac2.b43d2d"]]},{"id":"1e71aac2.b43d2d","type":"function","z":"f61dd1e4.ab054","name":"Address","func":"var count = global.get('count') || 0;\ncount += 1;\nglobal.set('count', count);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":120,"wires":[["b31b6d62.4b0b6"]]},{"id":"b0b4727f.8cea7","type":"ui_text","z":"f61dd1e4.ab054","group":"7c65ff98.d9a2f8","order":2,"width":0,"height":0,"name":"#Address","label":"Dirección del dispositivo:","format":"{{msg.payload}} ","layout":"row-center","x":1280,"y":80,"wires":[]},{"id":"b31b6d62.4b0b6","type":"switch","z":"f61dd1e4.ab054","name":"","property":"count","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1110,"y":120,"wires":[["b0b4727f.8cea7"],["5f1e407e.df9bc"],["429e9f86.a9913"]]},{"id":"429e9f86.a9913","type":"ui_text","z":"f61dd1e4.ab054","group":"7fe41b6e.35841c","order":2,"width":0,"height":0,"name":"#Address","label":"Dirección del dispositivo:","format":"{{msg.payload}}","layout":"row-center","x":1280,"y":160,"wires":[]},{"id":"5f1e407e.df9bc","type":"ui_text","z":"f61dd1e4.ab054","group":"a4668fad.60f98","order":2,"width":0,"height":0,"name":"#Address","label":"Dirección del dispositivo:","format":"{{msg.payload}}","layout":"row-center","x":1280,"y":120,"wires":[]},{"id":"dffbf7dd.07366","type":"ui_text","z":"f61dd1e4.ab054","group":"a4668fad.60f98","order":1,"width":0,"height":0,"name":"#Nodo","label":"Nodo aprovisionado número:","format":"{{msg.payload}}","layout":"row-center","x":1070,"y":220,"wires":[]},{"id":"c72bdd17.6f8e3","type":"ui_text","z":"f61dd1e4.ab054","group":"7fe41b6e.35841c","order":1,"width":0,"height":0,"name":"#Nodo","label":"Nodo aprovisionado número:","format":"{{msg.payload}}","layout":"row-center","x":1070,"y":260,"wires":[]},{"id":"f15b74bb.119bf","type":"ui_chart","z":"f61dd1e4.ab054","name":"","group":"6649362f.0fe1f8","order":1,"width":0,"height":0,"label":"Temperatura Externa","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f57f1b","#19c20c","#3074e2","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":700,"wires":[[]]},{"id":"be8d1110.20f928","type":"ui_chart","z":"f61dd1e4.ab054","name":"","group":"1c93cab6.58a9e5","order":1,"width":0,"height":0,"label":"Temperatura Interna","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f57f1b","#19c20c","#3074e2","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":380,"wires":[[]]},{"id":"efa5c44c.bfee78","type":"mongodb out","z":"f61dd1e4.ab054","mongodb":"f67cc3e6.1eb8b","name":"SensorModel_Int","collection":"SensorModel","payonly":false,"upsert":false,"multi":false,"operation":"store","x":930,"y":380,"wires":[]},{"id":"c9b08e2a.9ea77","type":"mongodb out","z":"f61dd1e4.ab054","mongodb":"f67cc3e6.1eb8b","name":"SensorModel_Ext","collection":"SensorModel","payonly":false,"upsert":false,"multi":false,"operation":"store","x":930,"y":700,"wires":[]},{"id":"269e7356.025d74","type":"mongodb out","z":"f61dd1e4.ab054","mongodb":"f67cc3e6.1eb8b","name":"NodosProv","collection":"NodosProv","payonly":false,"upsert":false,"multi":false,"operation":"store","x":570,"y":120,"wires":[]},{"id":"893b28db.760cb8","type":"mqtt-broker","z":"","name":"test.mosquitto.org:1883","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7c65ff98.d9a2f8","type":"ui_group","z":"","name":"Primer Nodo Sensor","tab":"83ef49c0.cedc58","order":1,"disp":true,"width":"8","collapse":false},{"id":"a4668fad.60f98","type":"ui_group","z":"","name":"Segundo Nodo Sensor","tab":"83ef49c0.cedc58","order":2,"disp":true,"width":8,"collapse":false},{"id":"7fe41b6e.35841c","type":"ui_group","z":"","name":"Tercer Nodo Sensor","tab":"83ef49c0.cedc58","order":3,"disp":true,"width":8,"collapse":false},{"id":"6649362f.0fe1f8","type":"ui_group","z":"","name":"Temperatura Externa","tab":"c3a2bc72.a16f7","order":2,"disp":true,"width":15,"collapse":false},{"id":"1c93cab6.58a9e5","type":"ui_group","z":"","name":"Temperatura Interna","tab":"c3a2bc72.a16f7","order":1,"disp":true,"width":15,"collapse":false},{"id":"f67cc3e6.1eb8b","type":"mongodb","z":"","hostname":"bgh46s3ekqqdtiu-mongodb.services.clever-cloud.com","port":"27017","db":"bgh46s3ekqqdtiu","name":"TFMBleMesh"},{"id":"83ef49c0.cedc58","type":"ui_tab","z":"","name":"Sensores Aprovisionados","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c3a2bc72.a16f7","type":"ui_tab","z":"","name":"Monitorización de la Temperatura","icon":"airplay","order":2,"disabled":false,"hidden":false}]